extends layout

block content
  h4 This is the home page
  p Using templates!

  form(method='POST', action='/newuser')
    input(type='text' name='username' placeholder='Enter name here')
    input(type='submit' name='submit' value='Save User')